* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Vista mobile base*/
.container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header"
  "filtro"
  "main"
  "pagina"
  "footer";
  grid-template-rows: 70px 30px 1fr 30px 50px;
}

/*----------------------------- Encabezado*/
header {
  grid-area: header;
  background-color: lightslategray;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo {
  padding: 0px 15px;
}
.navbar ul {
  display: none;
}
.navbar li {
  list-style: none;
}

/*---------------------------------- Filtro*/
.filtro {
  grid-area: filtro;
  padding: 5px;
  background-color: rgb(200, 202, 204);
  display: flex;
  justify-content: center;
}
.filtro select {
  padding: 0px 15px;
  border-color: gray;
  border-radius: 5px;  
}

/*------------------------ Grilla de productos*/
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------- Paginado*/
.pagina {
  grid-area: pagina;
  background-color: rgb(200, 202, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------- Pie pagina*/
footer {
  grid-area: footer;
  background-color: lightslategray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*:::::::::::::: Vista Tablet ::::::::::::*/
@media (min-width: 576px) {
  .navbar-menu-icon i {
    display: none;
  }
  .navbar ul {
    width: 50vw;
    display: initial;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/**/